body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f18048;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigBox {
  background-color: #e9d068;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.box {
  width: 100px;
  height: 100px;
  background-color: #b6d168;
  border: 5px solid white;
}
#long {
  width: 400px;
  border: 5px dashed white;
}
